---
title: Index
---
<div class="kilter-top-container">
    <div class="kilter-download-container">
        <div class="kilter-download-slugline">
            <h1>Get on Kilter.</h1>
        </div>
        <div class="kilter-download-button kilter-download-ios">
            <a href="https://itunes.apple.com/us/app/kilter-your-personal-crossfit/id618404756?mt=8"><img src="{{site.download.appStore}}"></a>
        </div>
        <div class="kilter-download-button kilter-download-android">
            <a href="https://play.google.com/store/apps/details?id=co.supertoybox.kilter"><img src="{{site.download.playStore}}"></a>
        </div>
    </div>
    <div class="kilter-image-container kilter-hero-container">
        <img class="kilter-image" src="{{site.main.imgSrc}}" />
    </div>    
</div>
<div class="kilter-main-container">
    {{#each site.images}}
        <div class="kilter-square-container {{name}}">
            <div class="kilter-image-container">
                <img class="kilter-image" src="{{imgSrc}}" />
            </div>
        </div>  
    {{/each}}
</div>